/extern-inline.m4~
/00gnulib.m4
/absolute-header.m4
/af_alg.m4
/alloca.m4
/arpa_inet_h.m4
/assert.m4
/base64.m4
/byteswap.m4
/calloc.m4
/ceill.m4
/ceil.m4
/check-math-lib.m4
/close.m4
/codeset.m4
/configmake.m4
/ctype.m4
/double-slash-root.m4
/dup2.m4
/eealloc.m4
/errno_h.m4
/error.m4
/expl.m4
/exp.m4
/exponentd.m4
/exponentf.m4
/exponentl.m4
/extensions.m4
/extern-inline.m4
/fabsl.m4
/fabs.m4
/fcntl_h.m4
/fcntl.m4
/fcntl-o.m4
/fflush.m4
/flexmember.m4
/float_h.m4
/floorl.m4
/floor.m4
/fpending.m4
/fpieee.m4
/fpurge.m4
/freading.m4
/frexpl.m4
/frexp.m4
/fseek.m4
/fseeko.m4
/fstat.m4
/ftell.m4
/ftello.m4
/getdtablesize.m4
/getopt.m4
/getprogname.m4
/gettext.m4
/glibc21.m4
/glibc2.m4
/gl-openssl.m4
/gnulib-cache.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/host-cpu-c-abi.m4
/iconv_h.m4
/iconv.m4
/iconv_open.m4
/include_next.m4
/inet_pton.m4
/__inline.m4
/inline.m4
/intdiv0.m4
/intldir.m4
/intl.m4
/intlmacosx.m4
/intl-thread-locale.m4
/intmax.m4
/intmax_t.m4
/inttostr.m4
/inttypes_h.m4
/inttypes.m4
/inttypes-pri.m4
/isblank.m4
/isfinite.m4
/isinf.m4
/isnand.m4
/isnanf.m4
/isnanl.m4
/iswblank.m4
/iswdigit.m4
/iswxdigit.m4
/langinfo_h.m4
/largefile.m4
/lcmessage.m4
/ldexpl.m4
/ldexp.m4
/lib-ld.m4
/lib-link.m4
/lib-prefix.m4
/libunistring-base.m4
/limits-h.m4
/localcharset.m4
/localeconv.m4
/locale-fr.m4
/locale_h.m4
/locale-ja.m4
/localename.m4
/locale-zh.m4
/lock.m4
/logl.m4
/log.m4
/longlong.m4
/lseek.m4
/malloca.m4
/malloc.m4
/mathfunc.m4
/math_h.m4
/mbchar.m4
/mbiter.m4
/mbrtowc.m4
/mbsinit.m4
/mbslen.m4
/mbstate_t.m4
/md5.m4
/memchr.m4
/minmax.m4
/mmap-anon.m4
/mode_t.m4
/modfl.m4
/modf.m4
/msvc-inval.m4
/msvc-nothrow.m4
/multiarch.m4
/netinet_in_h.m4
/nls.m4
/nocrash.m4
/non-recursive-gnulib-prefix-hack.m4
/off_t.m4
/open-cloexec.m4
/open.m4
/open-slash.m4
/pathmax.m4
/pclose.m4
/pid_t.m4
/po.m4
/popen.m4
/printf.m4
/printf-posix.m4
/progtest.m4
/pthread_rwlock_rdlock.m4
/quotearg.m4
/random.m4
/random_r.m4
/realloc.m4
/roundl.m4
/round.m4
/setlocale.m4
/setlocale_null.m4
/sha1.m4
/sha256.m4
/sha512.m4
/signbit.m4
/size_max.m4
/snprintf.m4
/socklen.m4
/sockpfaf.m4
/sqrtl.m4
/sqrt.m4
/ssize_t.m4
/stat.m4
/stat-time.m4
/stdalign.m4
/stdarg.m4
/stdbool.m4
/stddef_h.m4
/std-gnu11.m4
/stdint_h.m4
/stdint.m4
/stdio_h.m4
/stdlib_h.m4
/stdnoreturn.m4
/stpcpy.m4
/strcase.m4
/strdup.m4
/strerror.m4
/string_h.m4
/strings_h.m4
/strndup.m4
/strnlen.m4
/strsep.m4
/strtod.m4
/strtold.m4
/strtoll.m4
/strtoull.m4
/strtoumax.m4
/sys_socket_h.m4
/sys_stat_h.m4
/sys_types_h.m4
/sys_uio_h.m4
/sys_wait_h.m4
/threadlib.m4
/time_h.m4
/truncl.m4
/trunc.m4
/uintmax_t.m4
/unistd_h.m4
/unlocked-io.m4
/vasnprintf.m4
/version-etc.m4
/visibility.m4
/waitpid.m4
/warnings.m4
/warn-on-use.m4
/wchar_h.m4
/wchar_t.m4
/wctype_h.m4
/wcwidth.m4
/wint_t.m4
/xalloc.m4
/xsize.m4
/xstrndup.m4
/xstrtol.m4
/zzgnulib.m4
/ctype_h.m4
/free.m4
/reallocarray.m4
/ungetc.m4
/vararrays.m4
/year2038.m4
/getrandom.m4
/sys_random_h.m4
