/00gnulib.m4
/extensions.m4
/extern-inline.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/include_next.m4
/off_t.m4
/ssize_t.m4
/stddef_h.m4
/sys_types_h.m4
/unistd_h.m4
/warn-on-use.m4
/wchar_t.m4
/errno_h.m4
/error.m4
/msvc-inval.m4
/msvc-nothrow.m4
/stdlib_h.m4
/strerror.m4
/string_h.m4
/sys_socket_h.m4
/xalloc.m4
/codeset.m4
/configmake.m4
/fcntl-o.m4
/glibc21.m4
/localcharset.m4
/locale-fr.m4
/locale-ja.m4
/locale-zh.m4
/mbrtowc.m4
/mbsinit.m4
/mbstate_t.m4
/stdbool.m4
/wchar_h.m4
/wctype_h.m4
/wint_t.m4
/alloca.m4
/eealloc.m4
/iconv.m4
/iconv_h.m4
/iconv_open.m4
/inline.m4
/iswblank.m4
/lib-ld.m4
/lib-link.m4
/lib-prefix.m4
/libunistring-base.m4
/longlong.m4
/malloca.m4
/mbchar.m4
/mbiter.m4
/mbslen.m4
/memchr.m4
/mmap-anon.m4
/multiarch.m4
/stdint.m4
/strnlen.m4
/wcwidth.m4
/quotearg.m4
/stdarg.m4
/version-etc.m4
/getopt.m4
/nocrash.m4
/calloc.m4
/malloc.m4
/realloc.m4
/exponentd.m4
/exponentf.m4
/exponentl.m4
/fabs.m4
/fabsl.m4
/float_h.m4
/fpieee.m4
/isnand.m4
/isnanf.m4
/isnanl.m4
/math_h.m4
/mathfunc.m4
/signbit.m4
/frexp.m4
/frexpl.m4
/ldexp.m4
/ldexpl.m4
/sqrt.m4
/sqrtl.m4
/minmax.m4
/size_max.m4
/ctype.m4
/isblank.m4
/assert.m4
/stdnoreturn.m4
/hard-locale.m4
/inttypes.m4
/xstrtol.m4
/inttostr.m4
/gettext.m4
/glibc2.m4
/intdiv0.m4
/intl.m4
/intldir.m4
/intlmacosx.m4
/intmax.m4
/inttypes-pri.m4
/inttypes_h.m4
/lcmessage.m4
/lock.m4
/nls.m4
/po.m4
/printf-posix.m4
/progtest.m4
/stdint_h.m4
/threadlib.m4
/uintmax_t.m4
/visibility.m4
/xsize.m4
/locale_h.m4
/localeconv.m4
/strtoull.m4
/strtoumax.m4
/close-stream.m4
/closeout.m4
/fpending.m4
/warnings.m4
/dirname.m4
/double-slash-root.m4
/mbsrtowcs.m4
/non-recursive-gnulib-prefix-hack.m4
/strndup.m4
/xstrndup.m4
/absolute-header.m4
/stdio_h.m4
